@import '../../styles/colors.scss';
.characterList {
  .characterCard {
    animation: fadeInAnimation 1s linear;
    border: none;
    & > div {
      padding: 0;
      border-radius: 1em;
    }
    img {
      height: 100%;
      width: 100%;
      border-radius: 1em;
    }
    h5 {
      i {
        color: white;
      }
    }
    .cardLabel {
       color: var(--color-label);
    }
    .status{
        & > span{
            height: 10px;
            width: 10px;
            display: inline-block;
            border-radius: 50%;
           &.alive {
            background-color: var(--color-alive);
           }
           &.dead {
            background-color: var(--color-dead);
           }
           &.unknown {
           background-color: var(--color-label);
           }
        }
    }
  }
  .anchor {
    color: white;
  }
}
@media only screen and (min-width: 768px) {
    .characterCard {
        & > div {
            height: 230px;
        }
    }
}
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }